.backdrop {
    background: rgba(0,0,0,0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index:100;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.9;
    animation: anim1 .3s ease-in-out forwards;
}

@keyframes anim1 {
    from {
        opacity:0;
        transform: scale(0.9);
      }
    
      to {
        opacity:0.9;
        transform: scale(1);
      }
}