.socialsLink {
    margin-top: 20px;
    margin-bottom: 30px;
}

.socialsLinkItem {
    padding-top: 20px;
    line-height:2;

}

.icon {
    border-radius: 50px;
    padding: 7px;
    margin-right:10px;
    margin-bottom: 5px;
    cursor: pointer;
}